<!DOCTYPE html>

<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Billing</title>
</head>

<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>

</html>